.counter-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  max-width: 100%;
}

.counter-container .counter-counter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  line-height: 1;
}

.counter-container .counter-digit {
  position: relative;
  display: inline-block;
  flex: none;
  width: 1ch;
  font-variant-numeric: tabular-nums;
}

.counter-container .counter-number {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: inherit;
  white-space: nowrap;
}

.counter-container .gradient-container {
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.counter-container .bottom-gradient {
  position: absolute;
  bottom: 0;
  width: 100%;
}
